<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803344540107-ptij7m63r8t2ep2iki76pakk22pqpi7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803344540107-ptij7m63r8t2ep2iki76pakk22pqpi7q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803344540107-1132vn4i4sdlqcav3d1ck5maagbnfjqa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlGIcOSI1-JO6TlrIwcYSKrlyDa7Q6ZNk</string>
	<key>GCM_SENDER_ID</key>
	<string>803344540107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uspstudio.usp</string>
	<key>PROJECT_ID</key>
	<string>uspads</string>
	<key>STORAGE_BUCKET</key>
	<string>uspads.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803344540107:ios:75b89374b2a25093aa964e</string>
	<key>DATABASE_URL</key>
	<string>https://uspads.firebaseio.com</string>
</dict>
</plist>